{%  extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}
<div class="card my-4">
    <div class="card-body">
        <h5 class="card-title text-info">{{user.username}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{user.first_name}} {{user.last_name}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
        {% if session['user_id'] == user.username %}
        <form style="display:inline;" action="/users/{{user.username}}/delete" method="POST">
            <button class="astext">Delete Account</button>
        </form>
        {% endif %}
    </div>
</div>
<div>
    {% for post in posts %}
    <div class="card my-4">
        <div class="card-body">
            <h5 class="card_title text-info">
                {{post.title}}
            </h5>
            <p class="card-text">{{post.content}}</p>
            {% if session['user_id'] == post.username %}
            <div>
                <span><a href="/feedback/{{post.id}}/update">Edit</a></span>
                <span>
                    <form style="display:inline;" action="/feedback/{{post.id}}/delete" method="POST">
                        <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                    </form>
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}